@import "src/scss/mixins/mixins";

body {
    padding-right: -20px;
}

.conteiner {
    max-width: 1200px;
    margin: 0px auto;
    overflow: hidden;
}

.header {
    background: url(/img/background/background1.webp);
    max-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 45px;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.logo__img {
    padding-right: 17px;
}

.header__logo {
    &:hover img {
        content: url(/img/logo/logo-hover1.webp);
    }

    &:hover h2 {
        color: #FFFFFF;
    }
}

.logo__text {
    @include secondaryFont(700, 24px, 16px, #8D81AC);
}

.header__title {
    padding-left: 100px;
}

.header__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    @include mainFont(700, 16px, 17px, #8D81AC);
    padding-right: 48px;
    cursor: pointer;
    &:hover {
        color: #FFFFFF;
    }
}

.header__btn {
    @include mainFont(700, 16px, 17px, #FFFFFF);
    background: #8D81AC;
    border-radius: 40px;
    padding: 11px 40px ;
    border: none;
    cursor: pointer;
    &:hover {
        background: #FFFFFF;
        color: #8D81AC;
    }
}

.text__header {
    @include mainFont(700, 82px, 82px, #FFFFFF);
    padding-top: 120px;
    text-align: center;
}

.text__info {
    @include secondaryFont(400, 30px, 30px, #8D81AC);
    padding-top: 19px;
    text-align: center;
}

.text__ver {
    @include mainFont(400, 16px, 16px, #848E97);
    padding-top: 19px;
    text-align: center;
}

.btn {
    text-align: center;
}

.text__btn {
    background: #8D81AC;
    border-radius: 40px;
    @include mainFont(700, 21px, 22px, #FFFFFF);
    text-align: center;
    padding: 23px 81px;
    margin-top: 390px;
    cursor: pointer;
    border: none;
    &:hover {
        background: #FFFFFF;
        color: #8D81AC;
        border: 2px solid #8D81AC;
    }
}

.text__footer {
    @include mainFont(400, 14px, 15px, #848E97);
    text-align: center;
    margin-top: 19px;
}

@media (max-width: 1200px) {
    body {
        margin-right: -70px;
        padding-right: -70px;
    }

    .conteiner {
        min-width: 993px;
    }
}

@media (max-width: 992px) {
    .conteiner {
        min-width: 481px;
    }

    .header__menu {
        background: #27262A;
        height: 75px;
    }

    .header__logo {
        position: absolute;
        top: 22px;
        left: 20px;
    }

    .header__btn {
        position: absolute;
        top: 24px;
        right: 20px;
        margin-right: -70px;
        
    }

    .text__header {
        padding-top: 69px;
        font-size: 72px;
        line-height: 72px;
    }

    .text__info {
        padding-top: 19px;
        font-size: 24px;
        line-height: 24px;
    }

    .text__ver {
        padding-top: 19px;
        font-size: 14px;
        line-height: 14px;
    }

    .text__btn {
        margin-top: 430px;
    }

}

@media (max-width: 593px) {
    body {
        margin-right: -180px;
        padding-right: -150px;
    }
    .conteiner {
        min-width: 481px;
    }
    .header__list {
        @include mainFont(700, 16px, 17px, #8D81AC);
        padding-right: 36px;
    }

    .header__btn {
        position: absolute;
        top: 24px;
        right: 20px;
        margin-right: -180px;
    }

    .text__btn {
        font-size: 18px;
        line-height: 20px;
        padding: 13px 29px;
        margin-top: 440px;
    }
    
}

@media (max-width: 480px) {
    body {
        margin-right: -70px;
        padding-right: -70px;
    }

    .conteiner {
        min-width: 320px;
    }
    
    .logo__text {
        display: none;
    }

    .header__logo {
        position: absolute;
        top: 32px;
        left: 16px;
    }

    .header__btn {
        position: absolute;
        top: 34px;
        right: auto;
        margin-right: -20px;
    }

    .header-btn {
        display: block;
        position: relative;
        height: 45px;
        @media (min-width: 471px) and (max-width: 480px) {
            margin-left: 200px;
            margin-right: 25px;
        }
        @media (min-width: 471px) and (max-width: 480px){
            margin-left: 170px;
            margin-right: 35px;
          }
          @media (min-width: 461px) and (max-width: 470px){
            margin-left: 155px;
            margin-right: 35px;
          }
          @media (min-width: 451px) and (max-width: 460px){
            margin-left: 145px;
            margin-right: 30px;
          }
          @media (min-width: 441px) and (max-width: 450px){
            margin-left: 135px;
            margin-right: 25px;
          }
          @media (min-width: 431px) and (max-width: 440px){
            margin-left: 125px;
            margin-right: 20px;
          }
          @media (min-width: 421px) and (max-width: 430px){
            margin-left: 115px;
            margin-right: 20px;
          }
          @media (min-width: 411px) and (max-width: 420px){
            margin-left: 105px;
            margin-right: 25px;
          }
          @media (min-width: 401px) and (max-width: 410px){
            margin-left: 95px;
            margin-right: 15px;
          }
          @media (min-width: 391px) and (max-width: 400px){
            margin-left: 80px;
            margin-right: 25px;
          }
          @media (min-width: 381px) and (max-width: 390px) {
            margin-left: 75px;
            margin-right: 25px;
          }
          @media (min-width: 371px) and (max-width: 380px) {
            margin-left: 65px;
            margin-right: 25px;
          }
          @media (min-width: 361px) and (max-width: 370px) {
            margin-left: 60px;
            margin-right: 25px;
          }
          @media (min-width: 351px) and (max-width: 360px) {
            margin-left: 55px;
            margin-right: 25px;
          }
          @media (min-width: 341px) and (max-width: 350px) {
            margin-left: 50px;
            margin-right: 20px;
          }
          @media (min-width: 331px) and (max-width: 340px) {
            margin-left: 45px;
            margin-right: 15px;
          }
          @media (min-width: 321px) and (max-width: 330px) {
            margin-left: 40px;
            margin-right: 15px;
          }
          @media (max-width: 320px) {
            margin-left: 25px;
          }
    }

    .header-btn span {
        position: absolute;
        background-color: #fff;
        top: -18px;
        left: 158px;
        width: 13px;
        height: 3px;
        border-radius: 5px;
    }

    .header-btn:before {
        content: '';
        background-color: #ffff;
        position: absolute;
        top: -9px;
        left: 145px;
        width: 26px;
        height: 3px;
        border-radius: 5px;
    }

    .header-btn::after {
        content: '';
        background-color: #ffff;
        position: absolute;
        top: -9px;
        left: 145px;
        width: 26px;
        height: 3px;
        border-radius: 5px;
    }

    .header-btn:before {
        top: 0;
    }

    .header-btn::after {
        bottom: 0;
    }

    .header-btn.active::before {
        transform: rotate(45deg);
        top: -9px;
    }

    .header-btn.active::after {
        transform: rotate(-45deg);
        bottom: -9px;
    }

    .header-btn.active span {
        transform: scale(0);
    }

    .header__item {
        display: block;
        margin-left: -100px;
    }

    .header__title {
        position: fixed;
        top: -150%;
        background: #333333;
        margin-top: 120px;
    }

    .header__title.active {
        top: 0%;
    }

    .header__list {
        @include mainFont(400, 26px, 26px, #FFFFFF);
        border: 1px solid #333333;
        padding: 29px 140px 21px 29px;
        border-bottom: 4px solid #3B3B3B;
        &:hover {
            content: "";
            position: relative;
            color: #8D81AC;
            border-left: 8px solid #8D81AC;
        }
                @media (min-width: 471px) and (max-width: 480px) {
                    padding: 34px 210px 26px 99px;
                }
        
                @media (min-width: 461px) and (max-width: 470px) {
                    padding: 34px 205px 26px 94px;
                }
        
                @media (min-width: 451px) and (max-width: 460px) {
                    padding: 34px 200px 26px 89px;
                }
        
                @media (min-width: 441px) and (max-width: 450px) {
                    padding: 34px 195px 26px 84px;
                }
        
                @media (min-width: 431px) and (max-width: 440px) {
                    padding: 34px 190px 26px 79px;
                }
        
                @media (min-width: 421px) and (max-width: 430px) {
                    padding: 34px 185px 26px 74px;
                }
        
                @media (min-width: 411px) and (max-width: 420px) {
                    padding: 34px 180px 26px 69px;
                }
        
                @media (min-width: 401px) and (max-width: 410px) {
                    padding: 34px 175px 26px 64px;
                }
        
                @media (min-width: 391px) and (max-width: 400px) {
                    padding: 34px 170px 26px 59px;
                }
        
                @media (min-width: 381px) and (max-width: 390px) {
                    padding: 34px 165px 26px 54px;
                }
        
                @media (min-width: 371px) and (max-width: 380px) {
                    padding: 34px 160px 26px 49px;
                }
        
                @media (min-width: 361px) and (max-width: 370px) {
                    padding: 34px 155px 26px 44px;
                }
        
                @media (min-width: 351px) and (max-width: 360px) {
                    padding: 34px 150px 26px 39px;
                }
        
                @media (min-width: 341px) and (max-width: 350px) {
                    padding: 34px 145px 26px 34px;
                }
    }

    .text__header {
        padding-top: 70px;
        font-size: 48px;
        line-height: 48px;
    }

    .text__info {
        font-size: 18px;
        line-height: 24px;
    }

    .text__ver {
        font-size: 14px;
        line-height: 14px;
    }

    .text__btn {
        font-size: 18px;
        line-height: 20px;
        padding: 13px 29px;
        margin-top: 460px;
        @media (max-width: 373px) {
            margin-top: 440px;
        }
    }
}