@import url(/src/scss/mixins/mixins.scss);

.about__conteiner{
    min-width: 320px;
    max-width: 1200px;
    margin: 0px auto;
    overflow-x: hidden;
}

.about {
    background: url(/img/background/background2.webp);
    min-height: 820px;
    background-repeat: no-repeat;
    background-size: cover;
}

.about__title {
    @include mainFont(700, 48px, 50px,  #FFFFFF);
    text-align: center;
    margin-top: 110px;
}

.about__suppliers {
    padding: 0 40px;
}

.about__info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 24px;
    text-align: center;
}

.info__content {
    padding-top: 58px;
}

.content-first {
    margin-top: 33px;
    @include secondaryFont(700, 16px, 24px,  #FFFFFF);
    font-style: italic;
}

.content-second {
    margin-top: 27px;
    @include secondaryFont(700, 16px, 24px,  #FFFFFF);
    font-style: italic;
}
.content-third {
    margin-top: 15px;
    @include secondaryFont(700, 16px, 24px,  #FFFFFF);
    font-style: italic;
}

.content-four {
    margin-top: 33px;
    @include secondaryFont(700, 16px, 24px,  #FFFFFF);
    font-style: italic;
}
.content-five {
    margin-top: 25px;
    @include secondaryFont(700, 16px, 24px,  #FFFFFF);
    font-style: italic;
}
.content-six {
    margin-top: 26px;
    @include secondaryFont(700, 16px, 24px,  #FFFFFF);
    font-style: italic;
}

.about-text {
    @include secondaryFont(400, 14px, 21px,  #A291A5);
    text-align: center;
    margin-top: 120px;
}

.about-text::after {
    content: '';
    position: absolute;
    background-color: #645766;
    align-items: center;
    left: 140px;
    width: 780px;
    height: 2px;
    margin-top: 35px;
        @media (max-width: 1200px){
            margin-left: 100px;
        }
        @media (max-width: 1100px){
            margin-left: 50px;
        }
        @media (max-width: 1000px){
            margin-left: 10px;
        }
        @media (max-width: 993px){
            margin-left: 10px;
        }
}

@media (max-width: 1200px) {
    .about__conteiner {
        max-width: 993px;
    }
}

@media (max-width: 992px) {
    .about__conteiner {
        min-width: 481px;
    }

    .about__title {
        @include mainFont(700, 42px, 44px,  #FFFFFF);
        text-align: center;
        margin-top: 45px;
    }

    .about__info {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about__suppliers {
        padding: 0 40px;
    }

    .content-first {
        margin-top: 13px;
        @include secondaryFont(700, 16px, 24px,  #FFFFFF);
        font-style: italic;
    }
    
    .content-second {
        margin-top: 10px;
        @include secondaryFont(700, 16px, 24px,  #FFFFFF);
        font-style: italic;
    }
    .content-third {
        margin-top: 10px;
        @include secondaryFont(700, 16px, 24px,  #FFFFFF);
        font-style: italic;
    }

    .content-four {
        margin-top: 50px;
        @include secondaryFont(700, 16px, 24px,  #FFFFFF);
        font-style: italic;
    }
    
    .content-five {
        margin-top: 15px;
        @include secondaryFont(700, 16px, 24px,  #FFFFFF);
        font-style: italic;
    }
    .content-six {
        margin-top: 16px;
        @include secondaryFont(700, 16px, 24px,  #FFFFFF);
        font-style: italic;
    }
    
    .about-text {
        @include secondaryFont(400, 14px, 21px,  #A291A5);
        text-align: center;
        margin: 27px 25px 40px;
    }
    
    .about-text::after {
        left: 60px;
        width: 555px;
        height: 2px;
        margin-top: 35px;
        @media (min-width: 980px) and (max-width: 992px){
            margin-left: 190px;
        }
        @media (max-width: 970px) {
            margin-left: 180px;
        }
        @media (min-width: 940px) and (max-width: 960px) {
            margin-left: 170px;
        }
        @media (min-width: 910px) and (max-width: 930px) {
            margin-left: 160px;
        }
        @media (min-width: 890px) and (max-width: 900px) {
            margin-left: 140px;
        }
        @media (min-width: 830px) and  (max-width: 880px) {
            margin-left: 120px;
        }
        @media (min-width: 810px) and (max-width: 820px) {
            margin-left: 100px;
        }
        @media (min-width: 750px) and (max-width: 800px) {
            margin-left: 90px;
        }
        @media (min-width: 730px) and (max-width: 740px) {
            margin-left: 70px;
        }
        @media (min-width: 710px) and (max-width: 720px) {
            margin-left: 60px;
        }
        @media (max-width: 700px) {
            margin-left: 50px;
        }
        @media (min-width: 680px) and (max-width: 690px) {
            margin-left: 40px;
        }
        @media (min-width: 650px) and (max-width: 670px) {
            margin-left: 30px;
        }
        @media (max-width: 640px) {
            margin-left: 25px;
        }
        @media (max-width: 630px) {
            margin-left: 20px;
        }
        @media (max-width: 620px) {
            margin-left: 10px;
        }
        @media (min-width: 600px) and (max-width: 610px) {
            margin-left: 0px;
        }
        @media (min-width: 580px) and (max-width: 590px) {
            margin-left: 45px;
        }
        @media (min-width: 560px) and (max-width: 570px) {
            margin-left: 55px;
        }
        @media (min-width: 540px) and (max-width: 550px) {
            margin-left: 45px;
        }
        @media (max-width: 530px) {
            margin-left: 30px;
        }
        @media (max-width: 520px) {
            margin-left: 20px;
        }
        @media (max-width: 510px) {
            margin-left: 10px;
        }
        @media (max-width: 500px) {
            margin-left: 0px;
        }
        @media (max-width: 490px) {
            margin-left: 0px;
        }
    }
}

@media (max-width: 480px) {
    .about__conteiner {
        min-width: 320px;
    }
    
    .about__info {
        display: grid;
        grid-template-columns: 1fr;
    }

    .info__content {
        padding-top: 18px;
    }
    .content-first {
        margin-top: 13px;
        @include secondaryFont(700, 16px, 24px,  #FFFFFF);
        font-style: italic;
    }
    
    .content-second {
        margin-top: 10px;
        @include secondaryFont(700, 16px, 24px,  #FFFFFF);
        font-style: italic;
    }
    .content-third {
        margin-top: 10px;
        @include secondaryFont(700, 16px, 24px,  #FFFFFF);
        font-style: italic;
    }

    .content-four {
        margin-top: 15px;
        @include secondaryFont(700, 16px, 24px,  #FFFFFF);
        font-style: italic;
    }
    
    .content-five {
        margin-top: 15px;
        @include secondaryFont(700, 16px, 24px,  #FFFFFF);
        font-style: italic;
    }
    .content-six {
        margin-top: 16px;
        @include secondaryFont(700, 16px, 24px,  #FFFFFF);
        font-style: italic;
    }
    
    .about-text {
        margin: 17px 25px 40px;
        @include secondaryFont(400, 14px, 21px,  #A291A5);
        text-align: center;
    }
    
    .about-text::after {
        left: 65px;
        width: 260px;
        margin-top: 35px;
        @media (max-width: 480px) {
            margin-left: 80px;
        }
        @media (max-width: 460px) {
            margin-left: 70px;
        }
        @media (max-width: 440px) {
            margin-left: 60px;
        }
        @media (max-width: 430px) {
            margin-left: 55px;
        }
        @media (max-width: 420px) {
            margin-left: 50px;
        }
        @media (max-width: 410px) {
            margin-left: 45px;
        }
        @media (min-width: 390px) and (max-width: 400px) {
            margin-left: 40px;
        }
        @media (max-width: 380px) {
            margin-left: 30px;
        }
        @media (max-width: 370px) {
            margin-left: 25px;
        }
        @media (max-width: 350px) {
            margin-left: 10px;
        }
        @media (min-width: 320px) and (max-width: 340px) {
            margin-left: 5px;
        }
    }

}



