$mainFont: 'Montserrat', sans-serif;
$secondaryFont: 'Lato', sans-serif;

$mainColor: #8D81AC;
$secondaryColor: #FFFFFF;
$colorContent:#848E97;

@mixin link-btn {
  @include mainFont(bold, 12px, 20px, #000);
  display: flex;
  align-items: center;
  padding: 3px 12px;
  background-color: #f2f2f2;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px 0 0 6px;
  cursor: pointer;
  box-sizing: border-box;
}

@mixin font($weight, $font-size, $line-height, $color) {
  font-style: normal;
  font-weight: $weight;
  line-height: $line-height;
  font-size: $font-size;
  color: $color;
}
@mixin mainFont($weight, $font-size, $line-height, $color) {
  font-family: $mainFont;
  @include font($weight, $font-size, $line-height, $color)
}
@mixin secondaryFont($weight, $font-size, $line-height, $color) {
  font-family: $secondaryFont;
  @include font($weight, $font-size, $line-height, $color)
}
